[Unit]
Description=Dockerized DNS service for Raspberry Pi
After=docker.service
Requires=docker.service
ReloadPropagatedFrom=docker.service

[Service]
WorkingDirectory=/opt/dns
ExecStart=/usr/bin/docker-compose -f /opt/dns/docker-compose.yml up -d
ExecReload=/usr/bin/docker-compose -f /opt/dns/docker-compose.yml restart
ExecStop=/usr/bin/docker-compose -f /opt/dns/docker-compose.yml down
RemainAfterExit=True

[Install]
WantedBy=multi-user.target