[Unit]
Description=Dockerized DNS service for Raspberry Pi
After=docker.service
Requires=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/dns
ExecStart=DOCKER_BUILDKIT=1 /usr/bin/docker-compose -f /opt/dns/docker-compose.yml up -d
ExecReload=DOCKER_BUILDKIT=1 /usr/bin/docker-compose -f /opt/dns/docker-compose.yml restart
ExecStop=DOCKER_BUILDKIT=1 /usr/bin/docker-compose -f /opt/dns/docker-compose.yml down
RemainAfterExit=True

[Install]
WantedBy=multi-user.target