# Required + Recommended
TZ={{ lookup("env", "TIMEZONE") }}
{% if lookup("env", "DNSCRYPT_ENABLED") == "true" %}
# DNS1="10.0.1.2#5353"
DNS1="127.0.0.1#5300"
DNS2="no"
{% else %}
{# AdGuard public DNS servers #}
DNS1="94.140.14.14"
DNS2="94.140.15.15"
{% endif %}
WEBPASSWORD='{{ lookup("env", "PIHOLE_WEB_ADMIN_PASS") }}'
FTLCONF_REPLY_ADDR4="192.168.1.53"
# PiHole env vars
## https://github.com/pi-hole/docker-pi-hole/#running-pi-hole-docker
ServerIP="127.0.0.1"
hostname="pi.hole"
PROXY_LOCATION="pi.hole"
VIRTUAL_HOST="pi.hole"

# Optional + extra config
DNSSEC={{ lookup("env", "DNSSEC_ENABLED") }}
DNS_BOGUS_PRIV=true
DNS_FQDN_REQUIRED=true
DHCP_ACTIVE=false
PIHOLE_DOMAIN=lan
DNSMASQ_LISTENING=local

# Workaround for host network_mode issue
# https://github.com/pi-hole/docker-pi-hole/issues/1019
PIHOLE_UID=0
# DNSMASQ_USER=root
